h1{
    background-color: aqua;
}

.lorem{
    font-size: 30px;
}
img:hover {
    opacity: 0.2;
    cursor: pointer;
  }

.cavalo1:hover{
    width: 220px;
    height: 350px;
}
.cavalo2:hover{
    width: 420px;
    height: 150px;
}
